<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>{{ .Title }} &middot; {{ .Site.Author.name }}</title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/poole.css">
  <link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/hyde.css">
  <link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/poole-overrides.css">
  <link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/hyde-overrides.css">
  <link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/hyde-x.css">
  {{ if isset .Site.Params "highlight" }}<link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/highlight/{{ .Site.Params.highlight }}.css">{{ end }}
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
  <link href="/favicon.png" rel="icon">

  <!-- RSS -->
  <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }} &middot; {{ .Site.Author.name }}" />

  <meta name="description" content="{{ if ne .Description "" }}{{ .Description }}{{ else }}{{ .Site.Params.defaultDescription }}{{ end }}">
  <meta name="keywords" content="{{ range $index, $element := .Keywords }}{{ if gt $index 0 }},{{ end }}{{ . }}{{ else }}{{ .Site.Params.defaultKeywords }}{{ end }}">
  {{ with .Site.Params.googleAuthorship }}<link rel="author" href="http://plus.google.com/{{ . }}">{{ end }}
</head>
<body{{ with .Site.Params.theme }} class="{{ . }}"{{ end }}>
{{ template "partials/sidebar.html" . }}